<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <h5 class="ulli">TODO List</h5>
          <br>
          <li class="nav-item">
            <img src="assets/pics/gauge.svg" class="icons" align="left">
            <a class="nav-link  text-warning" routerLink="/item/today" id="today">Today</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/calendar.svg" class="icons" align="left">
            <a class="nav-link text-warning" routerLink="/item/7days">Next 7 Days</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/notepad.svg" class="icons" align="left">
            <a class="nav-link text-warning" routerLink="/item/all">All items</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/list.svg" class="icons" align="left">
            <a class="nav-link text-warning" routerLink="/item/done">Done items</a>
          </li>
        </ul>
      </div>
      <br>
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <h5 class="ulli">Categories</h5>
          <br>
          <li class="nav-item">
            <img src="assets/pics/flag.svg" class="icons" align="left">
            <a class="nav-link  text-warning" routerLink="/item/important">Important</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/strategy.svg" class="icons" align="left">
            <a class="nav-link  text-warning" routerLink="/item/affair">Affair</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/laptop.svg" class="icons" align="left">
            <a class="nav-link  text-warning" routerLink="/item/work">Work</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/archive.svg" class="icons" align="left">
            <a class="nav-link  text-warning" routerLink="/item/school">School</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/goal.svg" class="icons" align="left">
            <a class="nav-link  text-warning" routerLink="/item/trips">Trips</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/target.svg" class="icons" align="left">
            <a class="nav-link  text-warning" routerLink="/item/purchases">Purchases</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/team.svg" class="icons" align="left">
            <a class="nav-link  text-warning" routerLink="/item/social">Social</a>
          </li>
          <li class="nav-item">
            <img src="assets/pics/puzzle-1.svg" class="icons" align="left">
            <a class="nav-link  text-warning" routerLink="/item/other">Other</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>
